@using  PruebaUnoAgioGlobal.Web.ModelsViews;
@model FileUploadViewModel
@{
    ViewData["Title"] = "File Reader";
}

<h2>Reads New File</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadFile" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AttachedFile" class="control-label">File to Upload</label>
                <input asp-for="AttachedFile" type="file" class="control-label" />
                <span asp-validation-for="AttachedFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>