@using  PruebaUnoAgioGlobal.Web.ModelsViews;
@model FileUploadedViewModel
@{
    ViewData["Title"] = "File Readed";
}

<h2>Content of file readed</h2>
<hr />

<div class="row">
    <div class="col-md-8">            
        <div class="form-group">
            <label asp-for="TextFileReaded" class="control-label">Content of the readed file</label>
            <br />
            <textarea asp-for="TextFileReaded" class="control-label" style="width:100%"></textarea>
        </div>            
    </div>
</div>